In [1]:
import pandas as pd
import numpy as np

In [68]:
with open("new_text.txt", "r") as f:
    ans = f.readlines()

In [69]:
ans = [i.split('\t') for i in ans]

In [92]:
df = pd.DataFrame()

In [93]:
df[['State', 'Primary', 'Upper Primary', 'Secondary']] = [[i[0], i[3], i[6], i[9][:-1]] for i in ans]

In [102]:
df[['State','Secondary']].to_csv('primary.txt', header=None, index=None, sep=' ', mode='a')

In [97]:
ans

[['India', '1.6', '1.4', '1.5', '2.7', '3.3', '3.0', '13', '12.3', '12.6\n'],
 ['Andaman and Nicobar Islands',
  '0.2',
  '0.7',
  '0.4',
  '0.9',
  '1.0',
  '1.0',
  '6.0',
  '3.9',
  '5.0\n'],
 ['Andhra Pradesh',
  '0.0',
  '0.0',
  '0.0',
  '1.7',
  '1.5',
  '1.6',
  '17.5',
  '15.0',
  '16.3\n'],
 ['Arunachal Pradesh',
  '9.3',
  '9.2',
  '9.3',
  '4.8',
  '8.4',
  '6.7',
  '11.2',
  '12.3',
  '11.7\n'],
 ['Assam',
  '6.8',
  '5.2',
  '6.0',
  '10.1',
  '7.6',
  '8.8',
  '19.8',
  '20.7',
  '20.3\n'],
 ['Bihar', '0.0', '0.0', '0.0', '4.0', '5.2', '4.6', '19.5', '21.4', '20.5\n'],
 ['Chandigarh',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0\n'],
 ['Chhattisgarh',
  '1.0',
  '0.6',
  '0.8',
  '4.8',
  '3.3',
  '4.1',
  '11.5',
  '8.1',
  '9.7\n'],
 ['Dadra and Nagar Haveli & Daman & Diu',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '10.5',
  '8.4',
  '9.5\n'],
 ['Delhi', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '5.9', '3.7', '4.8\n'],
 ['Goa', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '12.1', '5.5', '9.0\n'],
 ['Gujarat',
  '0.0',
  '0.0',
  '0.0',
  '4.2',
  '5.8',
  '5.0',
  '19.4',
  '15.9',
  '17.9\n'],
 ['Haryana', '0.0', '0.0', '0.0', '0.3', '0.2', '0.2', '6.7', '4.9', '5.9\n'],
 ['Himachal Pradesh',
  '0.0',
  '0.0',
  '0.0',
  '0.6',
  '0.5',
  '0.6',
  '2.0',
  '0.9',
  '1.5\n'],
 ['Jammu and Kashmir',
  '3.9',
  '4.1',
  '4.0',
  '2.8',
  '3.2',
  '3.0',
  '5.6',
  '6.3',
  '6.0\n'],
 ['Jharkhand',
  '2.4',
  '1.1',
  '1.8',
  '3.7',
  '4.0',
  '3.9',
  '9.7',
  '8.9',
  '9.3\n'],
 ['Karnataka',
  '0.0',
  '0.0',
  '0.0',
  '1.1',
  '1.1',
  '1.1',
  '16.2',
  '13.0',
  '14.7\n'],
 ['Kerala', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '6.9', '4.1', '5.5\n'],
 ['Ladakh', '7.5', '5.5', '6.5', '2.2', '0.0', '1.1', '4.0', '5.7', '4.9\n'],
 ['Lakshadweep',
  '0.5',
  '0.4',
  '0.5',
  '3.2',
  '1.9',
  '2.6',
  '0.4',
  '0.0',
  '0.0\n'],
 ['Madhya Pradesh',
  '3.2',
  '2.9',
  '3.1',
  '8.6',
  '9.0',
  '8.8',
  '10.6',
  '9.7',
  '10.1\n'],
 ['Maharashtra',
  '0.0',
  '0.0',
  '0.0',
  '1.5',
  '1.6',
  '1.5',
  '10.8',
  '10.6',
  '10.7\n'],
 ['Manipur',
  '13.5',
  '13.0',
  '13.3',
  '6.0',
  '5.2',
  '5.6',
  '1.4',
  '1.2',
  '1.3\n'],
 ['Meghalaya',
  '11.1',
  '8.6',
  '9.8',
  '12.0',
  '9.4',
  '10.6',
  '23.3',
  '20.4',
  '21.7\n'],
 ['Mizoram',
  '7.1',
  '5.6',
  '6.4',
  '3.8',
  '1.6',
  '2.7',
  '13.1',
  '10.8',
  '11.9\n'],
 ['Nagaland',
  '5.6',
  '4.5',
  '5.0',
  '4.6',
  '3.4',
  '4.0',
  '18.9',
  '16.2',
  '17.5\n'],
 ['Odisha',
  '0.0',
  '0.0',
  '0.0',
  '8.0',
  '6.5',
  '7.3',
  '29.2',
  '25.2',
  '27.3\n'],
 ['Puducherry',
  '3.7',
  '3.6',
  '3.7',
  '2.8',
  '2.1',
  '2.4',
  '8.4',
  '4.1',
  '6.3\n'],
 ['Punjab',
  '1.6',
  '1.0',
  '1.3',
  '8.7',
  '7.1',
  '8.0',
  '18.3',
  '16.0',
  '17.2\n'],
 ['Rajasthan',
  '3.8',
  '3.3',
  '3.6',
  '4.4',
  '4.2',
  '4.3',
  '7.8',
  '7.5',
  '7.7\n'],
 ['Sikkim', '2.9', '0.5', '1.8', '0.0', '0.0', '0.0', '14.6', '9.5', '11.9\n'],
 ['Tamil Nadu',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '0.0',
  '6.3',
  '2.5',
  '4.5\n'],
 ['Telangana',
  '0.0',
  '0.0',
  '0.0',
  '3.4',
  '2.9',
  '3.1',
  '14.5',
  '12.9',
  '13.7\n'],
 ['Tripura', '1.2', '1.0', '1.1', '4.8', '4.3', '4.5', '8.5', '8.2', '8.3\n'],
 ['Uttar Pradesh',
  '2.4',
  '3.0',
  '2.7',
  '1.3',
  '4.7',
  '2.9',
  '9.5',
  '10.0',
  '9.7\n'],
 ['Uttarakhand',
  '1.0',
  '0.5',
  '0.8',
  '3.0',
  '2.4',
  '2.7',
  '5.4',
  '4.6',
  '5.0\n'],
 ['West Bengal',
  '9.1',
  '8.2',
  '8.6',
  '0.0',
  '0.0',
  '0.0',
  '18.4',
  '17.7',
  '18.0']]

In [106]:
new_df = pd.read_csv("this_is_really_last_ans.csv", index_col=0)

In [110]:
new_df[['State','Total']][new_df.Year==2013].to_csv('total.txt', header=None, index=None, sep=' ', mode='a')

In [109]:
new_df

,State,Year,PB,PG,PT,UPB,UPG,UPT,SB,SG,ST,USB,USG,UST,Total
0,A & N Islands,2013,0.83,0.51,0.68,5.724545,1.09,1.23,5.57,5.55,5.56,17.660000,10.150000,14.140000,20.455780
1,A & N Islands,2014,1.35,1.06,1.21,6.747273,1.54,0.51,8.36,5.98,7.20,18.940000,12.200000,15.870000,23.265392
2,A & N Islands,2015,0.47,0.55,0.51,1.440000,1.95,1.69,11.47,8.16,9.87,21.050000,12.210000,16.930000,26.769718
3,Andhra Pradesh,2013,3.30,3.05,3.18,3.210000,3.51,3.36,12.21,13.25,12.72,2.660000,5.527273,0.350000,18.620683
4,Andhra Pradesh,2014,4.31,4.39,4.35,3.460000,4.12,3.78,11.95,13.37,12.65,12.650000,10.850000,11.790000,29.086151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,West Bengal,2014,3.44,2.37,2.91,5.630000,3.10,4.31,16.73,19.77,18.34,8.030000,7.760000,7.900000,30.126892
106,West Bengal,2015,2.13,0.79,1.47,5.840000,2.88,4.30,16.33,19.06,17.80,8.180000,8.040000,8.110000,28.776963
107,India,2013,4.68,4.66,4.67,2.300000,4.01,3.13,14.54,14.54,14.54,7.452222,7.452222,7.452222,26.962184
108,India,2014,4.53,4.14,4.34,3.090000,4.49,3.77,17.93,17.79,17.86,1.480000,1.610000,1.540000,25.551596
109,India,2015,4.36,3.88,4.13,3.490000,4.60,4.03,17.21,16.88,17.06,0.250000,7.589000,7.589000,29.481036

In [118]:
with open("new_text.txt") as f:
    ans = f.readlines()

In [120]:
ans = [i.split(" ") for i in ans]

In [123]:
ans = [[i[1], i[4]] for i in ans]

In [128]:
pd.DataFrame(ans).to_csv('enroll.txt', header=None, index=None, sep=' ', mode='a')